In [3]:
# 2a.
spam = [2, 4, 6, 8, 10]

# 2b.
spam[2] = 'hello'
print(spam)

[2, 4, 'hello', 8, 10]

In [4]:
# 3a.
letters = ['a', 'b', 'c', 'd']

# 3b. What does letters[int(int('3'*2)//11)] evaluate to? Explain why in a comment.
# '3'*2 results in the string '33'. int('33') is 33. 33 // 11 is 3. letters[3] is 'd'.
print(letters[int(int('3'*2)//11)])

# 3c. What does letters[-1] evaluate to? Explain why in a comment.
# letters[-1] evaluates to the last element in the list.
print(letters[-1])

# 3d. What does letters[:2] evaluate to? Explain why in a comment.
# letters[:2] evaluates to a slice of the list from the beginning up to (but not including) index 2.
print(letters[:2])

d
d
['a', 'b']

In [7]:
# 4.
my_list = [1, 2, 3, 4]
my_tuple = (5, 6, 7, 8)

# Convert a list to a tuple
tuple_from_list = tuple(my_list)
print(f"List converted to tuple: {tuple_from_list}")

# Convert a tuple to a list
list_from_tuple = list(my_tuple)
print(f"Tuple converted to list: {list_from_tuple}")

List converted to tuple: (1, 2, 3, 4)
Tuple converted to list: [5, 6, 7, 8]

In [8]:
# 5. Practice program (see Sweigart, Chapter Four, Comma Code Practice Project:
# spam = ['apples', 'bananas', 'tofu', 'cats']

def comma_code(input_list):
  if not input_list:
    return ""
  elif len(input_list) == 1:
    return str(input_list[0])
  else:
    return ", ".join(map(str, input_list[:-1])) + ", and " + str(input_list[-1])

spam = ['apples', 'bananas', 'tofu', 'cats']
result = comma_code(spam)
print(result)

# Test with another list
another_list = ['one', 'two']
result_another = comma_code(another_list)
print(result_another)

empty_list = []
result_empty = comma_code(empty_list)
print(result_empty)

single_item_list = ['only one']
result_single = comma_code(single_item_list)
print(result_single)

apples, bananas, tofu, and cats
one, and two

only one